
*{
    margin: 0px;
    padding: 0px;
}
.mainapp{
    display: grid;
    grid-template-columns: 20vw 1fr;
    grid-template-areas: 
    'heading menubar'
    'maincomp maincomp'
    'footer footer'
}
.mainapp .heading{
    grid-area: heading;
    height: 10vh;
    width: 100vw;
    margin-top: 0px;

}
.mainapp .heading img{
    margin-left: 2%;
    margin-top: 1%;
}
.mainapp .heading b{
    font-size: xx-large;
    font-style: oblique;
    margin-left: 20px;
}
.mainapp .menubar{
    grid-area: menubar;
    font-size: large;
    margin-left: 10vw;
    margin-top: 0px;
}
.mainapp .menubar .menu li{
    float: left;
    list-style-type: none;
    font-size: large;
    margin-left: 3vw;
    margin-top: 4%;
}
.mainapp .menubar button{
    float: right;
    margin-right: 4%;
    margin-top: 20px;
}
.mainapp .menubar .signin img{
    margin-right: 5px;
} 
.mainapp .maincomp{
    grid-area: maincomp;
    text-align: center;
    width: 100%;
    height: 200vh;
    margin-top: 1%;
    background-color: antiquewhite;
}
.mainapp .footer{
    grid-area: footer;
    text-align: center;
    background-color: black;
    color: white;
    font-size: x-large;
    width: 100vw;
    height: 100vh;
}
